{% extends 'base.html.twig' %}

{% block title %}CRUD con Symfony{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
        <div class="alert alert-success mt-4 mb-2 bg-success text-white">
            {{ message }}
        </div>
    {% endfor %}
<div class="container">
<div class="card mt-5">
    <a class="btn btn-success text-white" href="{{ path( 'create' )}}">Crear nuevo registro</a>
<div class="card-body">

    <table id="table1" class="table mt-5 table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titulo</th>
      <th scope="col">Contenido</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for data in list %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.title}}</td>
      <td>{{data.content}}</td>
      <td>
        <a class="btn btn-success text-white" href="{{ path( 'update',{'id': data.id}) }}">Editar</a>
        <a class="btn btn-danger text-white" href="{{ path('delete',{'id':data.id}) }}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

{% endblock %}



